<header class="z-50 py-12 flex flex-col items-center justify-center bg-[linear-gradient(to_top,rgba(255,255,255,0)_0%,rgba(0,0,0,0)_1%,rgba(0,0,0,0.04)_16%,rgba(0,0,0,0.23)_75%,rgba(0,0,0,0.33)_100%)]">
    <div class="inline-flex justify-evenly relative items-center w-full text-white">
      <a routerLink="cats">
        Inserisci un randagio
      </a>
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
        <a routerLink="">
            <img src="logo.png" alt="logo" class="w-37">
        </a>
      </div>
      @if(! this.authService.isUserAuthenticated()){
        <a routerLink="signin">
          Accedi
        </a>
      } @else {
        <span>Benvenuto, {{ this.authService.getUser() }} <a routerLink="logout" class="underline">logout</a></span>
      }
    </div>
</header>
<!--
<button class="md:hidden block" mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
<mat-sidenav-container class="md:hidden! block!">
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>
-->
