<header class="z-50 sm:py-12 p-6 sm:mb-16 mb-8 flex flex-col items-center justify-center bg-gradient-to-b from-black/85 via-black/75 via-65% via-black/60 via-85% to-black/25">
    <div class="flex flex-wrap w-full text-white">
      <div class="md:flex hidden items-center w-1/3 justify-end">
        <a routerLink="cats">
          Inserisci un randagio
        </a>
      </div>
      <div class="flex items-center md:mb-[-15px] md:w-1/3 w-1/2 md:justify-center justify-start sm:my-[-15px]">
        <a routerLink="">
            <img src="logo.png" alt="logo" class="md:w-40 w-30">
        </a>
      </div>
      <div class="md:flex hidden items-center w-1/3 justify-start">
        @if(! this.authService.isUserAuthenticated()){
          <a routerLink="signin">
            Accedi
          </a>
        } @else {
          <span>Benvenuto, {{ this.authService.getUser() }} <a routerLink="logout" class="underline">logout</a></span>
        }
      </div>
      <div class="md:hidden flex items-center w-1/2 justify-end">
        <app-sidebar></app-sidebar>
      </div>
    </div>
</header>
